h1{
    text-align: center;
    color: #FFF;
    font-size: 50px;
}
body{
    background-color:rgb(61, 199, 61);
}
.container{
    width: 320px;
    height: 320px;
    margin: auto;
    margin-top: 100px;
  
}
.row{
    height: 100px;
}
.border-b{
    border-bottom: 10px solid black;
}
.border-r{
    border-right: 10px solid black;
}
.col{
    height: 100px;
    width: 100px;
    float: left;
    font-size: 100px;
    text-align: center;
    line-height: 100px;
}
.col:hover{
    background-color:lightgrey;
}
.winner{
    color:red;
}
